<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/dashboard.css">

</head>
<body>
    <header>
        <h1 ><center>Z i n e </center></h1>
        <br>
        <h2 style ="margin-left : 10px;"><center> : The Task Manager</center></h2>
    </header>
    <hr style ="color : black; margin : 20px;">
    <center>
        <div>
            <a class ="btn" href="/register">Register</a>
            <a class ="btn" href="/login">Login</a>
        </div>
        </center>
</body>
</html>
